/WinForm_BLE/WF_BLE_v5/bin/Debug/System.Runtime.WindowsRuntime.dll
/WinForm_BLE/WF_BLE_v5/bin/Debug/System.Runtime.WindowsRuntime.xml
/WinForm_BLE/WF_BLE_v5/bin/Debug/WF_BLE_v5.exe
/WinForm_BLE/WF_BLE_v5/bin/Debug/WF_BLE_v5.exe.config
/WinForm_BLE/WF_BLE_v5/bin/Debug/WF_BLE_v5.pdb
/WinForm_BLE/WF_BLE_v5/bin/Debug/Windows.Foundation.FoundationContract.winmd
/WinForm_BLE/WF_BLE_v5/bin/Debug/Windows.WinMD
/WinForm_BLE/WF_BLE_v5/bin/Release/System.Runtime.WindowsRuntime.dll
/WinForm_BLE/WF_BLE_v5/bin/Release/System.Runtime.WindowsRuntime.xml
/WinForm_BLE/WF_BLE_v5/bin/Release/WF_BLE_v5.exe
/WinForm_BLE/WF_BLE_v5/bin/Release/WF_BLE_v5.exe.config
/WinForm_BLE/WF_BLE_v5/bin/Release/WF_BLE_v5.pdb
/WinForm_BLE/WF_BLE_v5/bin/Release/WF_BLE_v5.zip
/WinForm_BLE/WF_BLE_v5/bin/Release/Windows.Foundation.FoundationContract.winmd
/WinForm_BLE/WF_BLE_v5/bin/Release/Windows.WinMD
/WinForm_BLE/WF_BLE_v5/obj/Debug/WF_BLE_v5.csproj.CoreCompileInputs.cache
/WinForm_BLE/WF_BLE_v5/obj/Debug/WF_BLE_v5.csproj.FileListAbsolute.txt
/WinForm_BLE/WF_BLE_v5/obj/Debug/WF_BLE_v5.csproj.GenerateResource.cache
/WinForm_BLE/WF_BLE_v5/obj/Debug/WF_BLE_v5.exe
/WinForm_BLE/WF_BLE_v5/obj/Debug/WF_BLE_v5.pdb
