/WinForm_BLE/WF_BLE_v5/bin/Debug/System.Runtime.WindowsRuntime.dll
/WinForm_BLE/WF_BLE_v5/bin/Debug/System.Runtime.WindowsRuntime.xml
/WinForm_BLE/WF_BLE_v5/bin/Debug/WF_BLE_v5.exe
/WinForm_BLE/WF_BLE_v5/bin/Debug/WF_BLE_v5.exe.config
/WinForm_BLE/WF_BLE_v5/bin/Debug/WF_BLE_v5.pdb
/WinForm_BLE/WF_BLE_v5/bin/Debug/Windows.Foundation.FoundationContract.winmd
/WinForm_BLE/WF_BLE_v5/bin/Debug/Windows.WinMD
/WinForm_BLE/WF_BLE_v5/bin/Release/System.Runtime.WindowsRuntime.dll
/WinForm_BLE/WF_BLE_v5/bin/Release/System.Runtime.WindowsRuntime.xml
/WinForm_BLE/WF_BLE_v5/bin/Release/WF_BLE_v5.exe
/WinForm_BLE/WF_BLE_v5/bin/Release/WF_BLE_v5.exe.config
/WinForm_BLE/WF_BLE_v5/bin/Release/WF_BLE_v5.pdb
/WinForm_BLE/WF_BLE_v5/bin/Release/WF_BLE_v5.zip
/WinForm_BLE/WF_BLE_v5/bin/Release/Windows.Foundation.FoundationContract.winmd
/WinForm_BLE/WF_BLE_v5/bin/Release/Windows.WinMD
/WinForm_BLE/WF_BLE_v5/obj/Debug/WF_BLE_v5.csproj.CoreCompileInputs.cache
/WinForm_BLE/WF_BLE_v5/obj/Debug/WF_BLE_v5.csproj.FileListAbsolute.txt
/WinForm_BLE/WF_BLE_v5/obj/Debug/WF_BLE_v5.csproj.GenerateResource.cache
/WinForm_BLE/WF_BLE_v5/obj/Debug/WF_BLE_v5.exe
/WinForm_BLE/WF_BLE_v5/obj/Debug/WF_BLE_v5.pdb
/BLE_test/BLE_test/bin/Debug/BLE_test.exe
/BLE_test/BLE_test/bin/Debug/BLE_test.exe.config
/BLE_test/BLE_test/bin/Debug/BLE_test.pdb
/BLE_test/BLE_test/obj/Debug/BLE_test.csproj.CoreCompileInputs.cache
/BLE_test/BLE_test/obj/Debug/BLE_test.csproj.FileListAbsolute.txt
/BLE_test/BLE_test/obj/Debug/BLE_test.csprojAssemblyReference.cache
/BLE_test/BLE_test/obj/Debug/BLE_test.exe
/BLE_test/BLE_test/obj/Debug/BLE_test.pdb
/BLE_test/BLE_test/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/BLE_test/BLE_test/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/BLE_test/BLE_test/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/BLE_test/BLE_test/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/BLE_test/.vs/BLE_test/v15/Server/sqlite3/db.lock
/BLETestForm/BLETestForm/bin/Debug/BLETestForm.exe
/BLETestForm/BLETestForm/bin/Debug/BLETestForm.exe.config
/BLETestForm/BLETestForm/bin/Debug/BLETestForm.pdb
/BLETestForm/BLETestForm/bin/Debug/System.Runtime.WindowsRuntime.dll
/BLETestForm/BLETestForm/bin/Debug/System.Runtime.WindowsRuntime.xml
/BLETestForm/BLETestForm/bin/Debug/Windows.WinMD
/BLETestForm/BLETestForm/obj/Debug/BLETestForm.Form1.resources
/BLETestForm/BLETestForm/obj/Debug/BLETestForm.Properties.Resources.resources
/BLETestForm/BLETestForm/obj/Debug/BLETestForm.csproj.CopyComplete
/BLETestForm/BLETestForm/obj/Debug/BLETestForm.csproj.CoreCompileInputs.cache
/BLETestForm/BLETestForm/obj/Debug/BLETestForm.csproj.FileListAbsolute.txt
/BLETestForm/BLETestForm/obj/Debug/BLETestForm.csproj.GenerateResource.cache
/BLETestForm/BLETestForm/obj/Debug/BLETestForm.csprojAssemblyReference.cache
/BLETestForm/BLETestForm/obj/Debug/BLETestForm.exe
/BLETestForm/BLETestForm/obj/Debug/BLETestForm.pdb
/BLETestForm/BLETestForm/obj/Debug/DesignTimeResolveAssemblyReferences.cache
/BLETestForm/BLETestForm/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/BLETestForm/BLETestForm/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/BLETestForm/BLETestForm/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/BLETestForm/BLETestForm/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/BLETestForm/BLETestForm/BLETestForm.csproj.bak
/BLETestForm/BLETestForm/bin/Debug/WF_BLE_v5.exe
/BLETestForm/BLETestForm/bin/Debug/WF_BLE_v5.exe.config
/BLETestForm/BLETestForm/bin/Debug/WF_BLE_v5.pdb
/BLETestForm/BLETestForm/bin/Debug/Windows.Foundation.FoundationContract.winmd
/BLETestForm/BLETestForm/obj/Debug/WF_BLE_v5.Properties.Resources.resources
/BLETestForm/BLETestForm/obj/Debug/WF_BLE_v5.exe
/BLETestForm/BLETestForm/obj/Debug/WF_BLE_v5.pdb
